{% extends 'main/base.html' %}


    {% block titulo %}
    {{ titulo | default("Meu Carrinho")}}
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="static/css/style.css">
    {% endblock %}
    

{% block content %}
    

    {% import 'main/macros.html' as macros %}
    <h1>Meu Carrinho</h1>

    <ul class="itens-carrinho">
        {% for item in carrinho.itens %}
            {{ macros.item_carrinho(item) }}
        {% else %}
            <li class="vazio">O carrinho esta vazio.<br>Adicione itens para continuar!</li>
        {% endfor %}
    </ul>

    {% if carrinho.itens %}
        <div class="total">
            <strong>Total estimado: R$ {{ total | round(2) }}</strong>
        </div>
    {% endif %}
{% endblock %}