{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
    {% if user %}
        <h1 class="title is-1"> Olá <span class="username">{{ user.username | capitalize}}</span></h1>
        <p class="subtitle is-4">Bem vindo.</p>
    {% else %}
        <h1> Olá visitante</h1>
        <p>Você precisa efetuar seu login.</p>
    {% endif %}

    {% if promocao %}
        {% include 'main/partials/promocao.html' %}
        
    {% endif %}

{% endblock %}
